<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select a College</h1>
        <ul>
            {% for college in colleges %}
                <li>
                    <a href="{{ url_for('login', college_name=college) }}">{{ college }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
